<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Number 1</mat-label>
    <input matInput placeholder="Placeholder"[(ngModel)] ="letter" >
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>
</p>


<div class="example-button-row">
  <button mat-flat-button color="primary" (click)="Count()">Primary</button>
</div>
   
     <h1>{{Acount}}</h1>
   
<br><br>
<p>
    <mat-form-field appearance="outline">
      <mat-label>Number 1</mat-label>
      <input matInput placeholder="Placeholder"[(ngModel)] ="num1" >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  
  <p>
      <mat-form-field appearance="outline">
        <mat-label>Number 2</mat-label>
        <input matInput placeholder="Placeholder"[(ngModel)] ="num2" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Number 3</mat-label>
          <input matInput placeholder="Placeholder"[(ngModel)] ="num3" >
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
      <p>
          <mat-form-field appearance="outline">
            <mat-label>Number 4</mat-label>
            <input matInput placeholder="Placeholder"[(ngModel)] ="num4" >
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Number 5</mat-label>
              <input matInput placeholder="Placeholder"[(ngModel)] ="num5" >
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field>
          </p>

          <button mat-flat-button color="primary" (click)="Calculate()">Calculate</button>
          <button mat-flat-button color="primary" (click)="CalcMax()">Maximum</button>

          <h1>The sum of 5 numbers is: {{sum}}</h1>
          <h1>The avarage of 5 numbers is: {{avarage}}</h1>
          <h1>The maximum numbers is: {{Maxi}}</h1>
          <h1>The minimum numbers is: {{Mini}}</h1>
<br><br>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Reverse Name</mat-label>
    <input matInput placeholder="Placeholder"[(ngModel)] ="revName" >
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>
</p>


<div class="example-button-row">
  <button mat-flat-button color="primary" (click)="disName()">Reverse</button>
</div>
   
     <h1>{{revName}}</h1>
   
<br><br>

<router-outlet></router-outlet>
